@media only screen and (max-width: 400px) {
  .main__1 {
    margin: 20px;
    margin-top: 100px
  }

  .main__2 {
    padding: 100px 20px;
  }

  .descricao {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .main__1 {
    margin: 20px;
    margin-top: 100px;
  }
  
  .main__2 {
    padding: 100px 20px;
  }
  
  .descricao {
    width: 400px
  }
}
